[user]
	email = f.ishimwe@alustudent.com
	name = Frankish0014
[http]
	postBuffer = 524288000
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	autocrlf = true
